target/.history
target/resolution-cache/default/lolhelper$sbt_2.11/0.1-SNAPSHOT/resolved.xml.properties
target/resolution-cache/default/lolhelper$sbt_2.11/0.1-SNAPSHOT/resolved.xml.xml
target/resolution-cache/default/lolhelper$sources_2.11/0.1-SNAPSHOT/resolved.xml.properties
target/resolution-cache/default/lolhelper$sources_2.11/0.1-SNAPSHOT/resolved.xml.xml
target/resolution-cache/default/lolhelper_2.11/0.1-SNAPSHOT/resolved.xml.properties
target/resolution-cache/default/lolhelper_2.11/0.1-SNAPSHOT/resolved.xml.xml
target/resolution-cache/default/scala_2.11/0.1-SNAPSHOT/resolved.xml.properties
target/resolution-cache/default/scala_2.11/0.1-SNAPSHOT/resolved.xml.xml
target/resolution-cache/org.scala-sbt.temp/temp-module-750703454be73072ce64f1c215ff85550284ae5b/0.13.11/resolved.xml.properties
target/resolution-cache/org.scala-sbt.temp/temp-module-750703454be73072ce64f1c215ff85550284ae5b/0.13.11/resolved.xml.xml
target/resolution-cache/reports/default-lolhelper$sbt_2.11-default.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-compile-internal.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-compile.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-docs.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-optional.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-plugin.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-pom.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-provided.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-runtime-internal.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-runtime.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-scala-tool.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-sources.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-test-internal.xml
target/resolution-cache/reports/default-lolhelper$sources_2.11-test.xml
target/resolution-cache/reports/default-lolhelper_2.11-compile-internal.xml
target/resolution-cache/reports/default-lolhelper_2.11-compile.xml
target/resolution-cache/reports/default-lolhelper_2.11-docs.xml
target/resolution-cache/reports/default-lolhelper_2.11-optional.xml
target/resolution-cache/reports/default-lolhelper_2.11-plugin.xml
target/resolution-cache/reports/default-lolhelper_2.11-pom.xml
target/resolution-cache/reports/default-lolhelper_2.11-provided.xml
target/resolution-cache/reports/default-lolhelper_2.11-runtime-internal.xml
target/resolution-cache/reports/default-lolhelper_2.11-runtime.xml
target/resolution-cache/reports/default-lolhelper_2.11-scala-tool.xml
target/resolution-cache/reports/default-lolhelper_2.11-sources.xml
target/resolution-cache/reports/default-lolhelper_2.11-test-internal.xml
target/resolution-cache/reports/default-lolhelper_2.11-test.xml
target/resolution-cache/reports/default-scala_2.11-compile-internal.xml
target/resolution-cache/reports/default-scala_2.11-compile.xml
target/resolution-cache/reports/default-scala_2.11-docs.xml
target/resolution-cache/reports/default-scala_2.11-optional.xml
target/resolution-cache/reports/default-scala_2.11-plugin.xml
target/resolution-cache/reports/default-scala_2.11-pom.xml
target/resolution-cache/reports/default-scala_2.11-provided.xml
target/resolution-cache/reports/default-scala_2.11-runtime-internal.xml
target/resolution-cache/reports/default-scala_2.11-runtime.xml
target/resolution-cache/reports/default-scala_2.11-scala-tool.xml
target/resolution-cache/reports/default-scala_2.11-sources.xml
target/resolution-cache/reports/default-scala_2.11-test-internal.xml
target/resolution-cache/reports/default-scala_2.11-test.xml
target/resolution-cache/reports/ivy-report.css
target/resolution-cache/reports/ivy-report.xsl
target/resolution-cache/reports/org.scala-sbt.temp-temp-module-750703454be73072ce64f1c215ff85550284ae5b-component.xml
target/scala-2.11/classes/ChampionData$$anonfun$5$$anonfun$apply$1.class
target/scala-2.11/classes/ChampionData$$anonfun$5.class
target/scala-2.11/classes/ChampionData$$anonfun$6.class
target/scala-2.11/classes/ChampionData$.class
target/scala-2.11/classes/ChampionData$ChampionDto$$anonfun$1.class
target/scala-2.11/classes/ChampionData$ChampionDto$$anonfun$2.class
target/scala-2.11/classes/ChampionData$ChampionDto$.class
target/scala-2.11/classes/ChampionData$ChampionDto.class
target/scala-2.11/classes/ChampionData$ChampionMapping$$anonfun$3.class
target/scala-2.11/classes/ChampionData$ChampionMapping$$anonfun$4.class
target/scala-2.11/classes/ChampionData$ChampionMapping$.class
target/scala-2.11/classes/ChampionData$ChampionMapping.class
target/scala-2.11/classes/ChampionData.class
target/scala-2.11/classes/CurrentGameData$.class
target/scala-2.11/classes/CurrentGameData$BannedChampion$$anonfun$5.class
target/scala-2.11/classes/CurrentGameData$BannedChampion$$anonfun$6.class
target/scala-2.11/classes/CurrentGameData$BannedChampion$.class
target/scala-2.11/classes/CurrentGameData$BannedChampion.class
target/scala-2.11/classes/CurrentGameData$CurrentGameInfo$$anonfun$7.class
target/scala-2.11/classes/CurrentGameData$CurrentGameInfo$$anonfun$8.class
target/scala-2.11/classes/CurrentGameData$CurrentGameInfo$.class
target/scala-2.11/classes/CurrentGameData$CurrentGameInfo.class
target/scala-2.11/classes/CurrentGameData$CurrentGameParticipant$$anonfun$3.class
target/scala-2.11/classes/CurrentGameData$CurrentGameParticipant$$anonfun$4.class
target/scala-2.11/classes/CurrentGameData$CurrentGameParticipant$.class
target/scala-2.11/classes/CurrentGameData$CurrentGameParticipant.class
target/scala-2.11/classes/CurrentGameData$LoLObserver$$anonfun$1.class
target/scala-2.11/classes/CurrentGameData$LoLObserver$$anonfun$2.class
target/scala-2.11/classes/CurrentGameData$LoLObserver$.class
target/scala-2.11/classes/CurrentGameData$LoLObserver.class
target/scala-2.11/classes/CurrentGameData.class
target/scala-2.11/classes/DataFetcher$$anonfun$decodeJson$1$$anonfun$1.class
target/scala-2.11/classes/DataFetcher$$anonfun$decodeJson$1.class
target/scala-2.11/classes/DataFetcher$.class
target/scala-2.11/classes/DataFetcher.class
target/scala-2.11/classes/Program$$anonfun$1$$anonfun$apply$1.class
target/scala-2.11/classes/Program$$anonfun$1.class
target/scala-2.11/classes/Program$$anonfun$2$$anonfun$apply$2.class
target/scala-2.11/classes/Program$$anonfun$2.class
target/scala-2.11/classes/Program$$anonfun$3.class
target/scala-2.11/classes/Program$$anonfun$6$$anonfun$apply$1$$anonfun$apply$2$$anonfun$apply$3$$anonfun$apply$4$$anonfun$apply$5.class
target/scala-2.11/classes/Program$$anonfun$6$$anonfun$apply$1$$anonfun$apply$2$$anonfun$apply$3$$anonfun$apply$4.class
target/scala-2.11/classes/Program$$anonfun$mainF$1$$anonfun$apply$6.class
target/scala-2.11/classes/Program$$anonfun$mainF$1.class
target/scala-2.11/classes/Program$$anonfun$mainF$2$$anonfun$apply$3.class
target/scala-2.11/classes/Program$$anonfun$mainF$2.class
target/scala-2.11/classes/Program$.class
target/scala-2.11/classes/Program.class
target/scala-2.11/classes/SummonerData$.class
target/scala-2.11/classes/SummonerData$Mastery$$anonfun$5.class
target/scala-2.11/classes/SummonerData$Mastery$$anonfun$6.class
target/scala-2.11/classes/SummonerData$Mastery$.class
target/scala-2.11/classes/SummonerData$Mastery.class
target/scala-2.11/classes/SummonerData$Rune$$anonfun$7.class
target/scala-2.11/classes/SummonerData$Rune$$anonfun$8.class
target/scala-2.11/classes/SummonerData$Rune$.class
target/scala-2.11/classes/SummonerData$Rune.class
target/scala-2.11/classes/SummonerData$SummonerDto$$anonfun$1.class
target/scala-2.11/classes/SummonerData$SummonerDto$$anonfun$2.class
target/scala-2.11/classes/SummonerData$SummonerDto$.class
target/scala-2.11/classes/SummonerData$SummonerDto.class
target/scala-2.11/classes/SummonerData$SummonerNameMap$$anonfun$3.class
target/scala-2.11/classes/SummonerData$SummonerNameMap$$anonfun$4.class
target/scala-2.11/classes/SummonerData$SummonerNameMap$$anonfun$stringify$1.class
target/scala-2.11/classes/SummonerData$SummonerNameMap$.class
target/scala-2.11/classes/SummonerData$SummonerNameMap.class
target/scala-2.11/classes/SummonerData.class
target/scala-2.11/classes/Timer$.class
target/scala-2.11/classes/Timer.class
target/scala-2.11/classes/target/.history
target/scala-2.11/classes/target/resolution-cache/default/source_2.10/0.1-SNAPSHOT/resolved.xml.properties
target/scala-2.11/classes/target/resolution-cache/default/source_2.10/0.1-SNAPSHOT/resolved.xml.xml
target/scala-2.11/classes/target/resolution-cache/org.scala-sbt.temp/temp-module-750703454be73072ce64f1c215ff85550284ae5b/0.13.11/resolved.xml.properties
target/scala-2.11/classes/target/resolution-cache/org.scala-sbt.temp/temp-module-750703454be73072ce64f1c215ff85550284ae5b/0.13.11/resolved.xml.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-compile-internal.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-compile.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-docs.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-optional.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-plugin.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-pom.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-provided.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-runtime-internal.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-runtime.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-scala-tool.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-sources.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-test-internal.xml
target/scala-2.11/classes/target/resolution-cache/reports/default-source_2.10-test.xml
target/scala-2.11/classes/target/resolution-cache/reports/ivy-report.css
target/scala-2.11/classes/target/resolution-cache/reports/ivy-report.xsl
target/scala-2.11/classes/target/resolution-cache/reports/org.scala-sbt.temp-temp-module-750703454be73072ce64f1c215ff85550284ae5b-component.xml
target/scala-2.11/classes/target/streams/$global/$global/$global/streams/out
target/scala-2.11/classes/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.10/input_dsp
target/scala-2.11/classes/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.10/output_dsp
target/scala-2.11/classes/target/streams/$global/ivyConfiguration/$global/streams/out
target/scala-2.11/classes/target/streams/$global/ivySbt/$global/streams/out
target/scala-2.11/classes/target/streams/$global/projectDescriptors/$global/streams/out
target/scala-2.11/classes/target/streams/$global/update/$global/streams/out
target/scala-2.11/classes/target/streams/$global/update/$global/streams/update_cache_2.10/inputs
target/scala-2.11/classes/target/streams/$global/update/$global/streams/update_cache_2.10/output
target/scala-2.11/classes/target/streams/$global/updateSbtClassifiers/$global/streams/out
target/scala-2.11/classes/target/streams/compile/$global/$global/discoveredMainClasses/data
target/scala-2.11/classes/target/streams/compile/compile/$global/streams/out
target/scala-2.11/classes/target/streams/compile/compileIncremental/$global/streams/export
target/scala-2.11/classes/target/streams/compile/compileIncremental/$global/streams/out
target/scala-2.11/classes/target/streams/compile/copyResources/$global/streams/copy-resources
target/scala-2.11/classes/target/streams/compile/copyResources/$global/streams/out
target/scala-2.11/classes/target/streams/compile/dependencyClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/compile/exportedProducts/$global/streams/export
target/scala-2.11/classes/target/streams/compile/externalDependencyClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/compile/incCompileSetup/$global/streams/inc_compile_2.10
target/scala-2.11/classes/target/streams/compile/internalDependencyClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/compile/mainClass/$global/streams/out
target/scala-2.11/classes/target/streams/compile/managedClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/compile/run/$global/streams/out
target/scala-2.11/classes/target/streams/compile/unmanagedClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/compile/unmanagedJars/$global/streams/export
target/scala-2.11/classes/target/streams/runtime/dependencyClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/runtime/exportedProducts/$global/streams/export
target/scala-2.11/classes/target/streams/runtime/externalDependencyClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/runtime/fullClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/runtime/internalDependencyClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/runtime/managedClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/runtime/unmanagedClasspath/$global/streams/export
target/scala-2.11/classes/target/streams/runtime/unmanagedJars/$global/streams/export
target/scala-2.11/test-classes/ProgramSpec$$anonfun$1.class
target/scala-2.11/test-classes/ProgramSpec.class
target/streams/$global/$global/$global/streams/out
target/streams/$global/$global/dumpStructure/$global/streams/out
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.11/input_dsp
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.11/output_dsp
target/streams/$global/ivyConfiguration/$global/streams/out
target/streams/$global/ivySbt/$global/streams/out
target/streams/$global/projectDescriptors/$global/streams/out
target/streams/$global/update/$global/streams/out
target/streams/$global/update/$global/streams/update_cache_2.11/inputs
target/streams/$global/update/$global/streams/update_cache_2.11/output
target/streams/$global/updateClassifiers/$global/streams/out
target/streams/$global/updateSbtClassifiers/$global/streams/out
target/streams/compile/$global/$global/discoveredMainClasses/data
target/streams/compile/compile/$global/streams/out
target/streams/compile/compileIncremental/$global/streams/export
target/streams/compile/compileIncremental/$global/streams/out
target/streams/compile/copyResources/$global/streams/copy-resources
target/streams/compile/copyResources/$global/streams/out
target/streams/compile/dependencyClasspath/$global/streams/export
target/streams/compile/exportedProducts/$global/streams/export
target/streams/compile/externalDependencyClasspath/$global/streams/export
target/streams/compile/incCompileSetup/$global/streams/inc_compile_2.11
target/streams/compile/internalDependencyClasspath/$global/streams/export
target/streams/compile/mainClass/$global/streams/out
target/streams/compile/managedClasspath/$global/streams/export
target/streams/compile/run/$global/streams/out
target/streams/compile/unmanagedClasspath/$global/streams/export
target/streams/compile/unmanagedJars/$global/streams/export
target/streams/runtime/dependencyClasspath/$global/streams/export
target/streams/runtime/exportedProducts/$global/streams/export
target/streams/runtime/externalDependencyClasspath/$global/streams/export
target/streams/runtime/fullClasspath/$global/streams/export
target/streams/runtime/internalDependencyClasspath/$global/streams/export
target/streams/runtime/managedClasspath/$global/streams/export
target/streams/runtime/unmanagedClasspath/$global/streams/export
target/streams/runtime/unmanagedJars/$global/streams/export
target/streams/test/externalDependencyClasspath/$global/streams/export
target/streams/test/managedClasspath/$global/streams/export
target/streams/test/unmanagedClasspath/$global/streams/export
target/streams/test/unmanagedJars/$global/streams/export
test/Test.scala
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/SBT__com_github_julien_truffaut_monocle_core_2_11_1_1_0_jar.xml
.idea/libraries/SBT__com_github_julien_truffaut_monocle_macro_2_11_1_1_0_jar.xml
.idea/libraries/SBT__com_ning_async_http_client_1_8_10_jar.xml
.idea/libraries/SBT__io_argonaut_argonaut_2_11_6_1_jar.xml
.idea/libraries/SBT__io_netty_netty_3_9_2_Final_jar.xml
.idea/libraries/SBT__net_databinder_dispatch_dispatch_core_2_11_0_11_2_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_parser_combinators_2_11_1_0_2_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_xml_2_11_1_0_2_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_library_2_11_8_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_reflect_2_11_6_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_reflect_2_11_7_jar.xml
.idea/libraries/SBT__org_scalatest_scalatest_2_11_2_2_6_jar.xml
.idea/libraries/SBT__org_scalaz_scalaz_core_2_11_7_1_1_jar.xml
.idea/libraries/SBT__org_slf4j_slf4j_api_1_7_5_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/lolhelper-build.iml
.idea/modules/lolhelper.iml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/workspace.xml
project/target/config-classes/$19e72539bfbf0da84f24$$anonfun$$sbtdef$1.class
project/target/config-classes/$19e72539bfbf0da84f24$.class
project/target/config-classes/$19e72539bfbf0da84f24.cache
project/target/config-classes/$19e72539bfbf0da84f24.class
project/target/config-classes/$3a4b63a65dd0bd4210fe$$anonfun$$sbtdef$1.class
project/target/config-classes/$3a4b63a65dd0bd4210fe$.class
project/target/config-classes/$3a4b63a65dd0bd4210fe.cache
project/target/config-classes/$3a4b63a65dd0bd4210fe.class
project/target/config-classes/$63325705a9c07c3a4ef5$$anonfun$$sbtdef$1.class
project/target/config-classes/$63325705a9c07c3a4ef5$.class
project/target/config-classes/$63325705a9c07c3a4ef5.cache
project/target/config-classes/$63325705a9c07c3a4ef5.class
project/target/config-classes/$ac73963dd29e9c263994$$anonfun$$sbtdef$1.class
project/target/config-classes/$ac73963dd29e9c263994$.class
project/target/config-classes/$ac73963dd29e9c263994.cache
project/target/config-classes/$ac73963dd29e9c263994.class
source/target/.history
source/target/resolution-cache/default/source_2.10/0.1-SNAPSHOT/resolved.xml.properties
source/target/resolution-cache/default/source_2.10/0.1-SNAPSHOT/resolved.xml.xml
source/target/resolution-cache/org.scala-sbt.temp/temp-module-750703454be73072ce64f1c215ff85550284ae5b/0.13.11/resolved.xml.properties
source/target/resolution-cache/org.scala-sbt.temp/temp-module-750703454be73072ce64f1c215ff85550284ae5b/0.13.11/resolved.xml.xml
source/target/resolution-cache/reports/default-source_2.10-compile-internal.xml
source/target/resolution-cache/reports/default-source_2.10-compile.xml
source/target/resolution-cache/reports/default-source_2.10-docs.xml
source/target/resolution-cache/reports/default-source_2.10-optional.xml
source/target/resolution-cache/reports/default-source_2.10-plugin.xml
source/target/resolution-cache/reports/default-source_2.10-pom.xml
source/target/resolution-cache/reports/default-source_2.10-provided.xml
source/target/resolution-cache/reports/default-source_2.10-runtime-internal.xml
source/target/resolution-cache/reports/default-source_2.10-runtime.xml
source/target/resolution-cache/reports/default-source_2.10-scala-tool.xml
source/target/resolution-cache/reports/default-source_2.10-sources.xml
source/target/resolution-cache/reports/default-source_2.10-test-internal.xml
source/target/resolution-cache/reports/default-source_2.10-test.xml
source/target/resolution-cache/reports/ivy-report.css
source/target/resolution-cache/reports/ivy-report.xsl
source/target/resolution-cache/reports/org.scala-sbt.temp-temp-module-750703454be73072ce64f1c215ff85550284ae5b-component.xml
source/target/scala-2.10/classes/Program$$anonfun$main$1$$anonfun$1$$anonfun$apply$2$$anonfun$apply$3.class
source/target/scala-2.10/classes/Program$$anonfun$main$1$$anonfun$1$$anonfun$apply$2$$anonfun$apply$4$$anonfun$apply$1.class
source/target/scala-2.10/classes/Program$$anonfun$main$1$$anonfun$1$$anonfun$apply$2$$anonfun$apply$4.class
source/target/scala-2.10/classes/Program$$anonfun$main$1$$anonfun$1$$anonfun$apply$2.class
source/target/scala-2.10/classes/Program$$anonfun$main$1$$anonfun$1.class
source/target/scala-2.10/classes/Program$$anonfun$main$1.class
source/target/scala-2.10/classes/Program$$anonfun$nthPi$1.class
source/target/scala-2.10/classes/Program$.class
source/target/scala-2.10/classes/Program.class
source/target/streams/$global/$global/$global/streams/out
source/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.10/input_dsp
source/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.10/output_dsp
source/target/streams/$global/ivyConfiguration/$global/streams/out
source/target/streams/$global/ivySbt/$global/streams/out
source/target/streams/$global/projectDescriptors/$global/streams/out
source/target/streams/$global/update/$global/streams/out
source/target/streams/$global/update/$global/streams/update_cache_2.10/inputs
source/target/streams/$global/update/$global/streams/update_cache_2.10/output
source/target/streams/$global/updateSbtClassifiers/$global/streams/out
source/target/streams/compile/$global/$global/discoveredMainClasses/data
source/target/streams/compile/compile/$global/streams/out
source/target/streams/compile/compileIncremental/$global/streams/export
source/target/streams/compile/compileIncremental/$global/streams/out
source/target/streams/compile/copyResources/$global/streams/copy-resources
source/target/streams/compile/copyResources/$global/streams/out
source/target/streams/compile/dependencyClasspath/$global/streams/export
source/target/streams/compile/exportedProducts/$global/streams/export
source/target/streams/compile/externalDependencyClasspath/$global/streams/export
source/target/streams/compile/incCompileSetup/$global/streams/inc_compile_2.10
source/target/streams/compile/internalDependencyClasspath/$global/streams/export
source/target/streams/compile/mainClass/$global/streams/out
source/target/streams/compile/managedClasspath/$global/streams/export
source/target/streams/compile/run/$global/streams/out
source/target/streams/compile/unmanagedClasspath/$global/streams/export
source/target/streams/compile/unmanagedJars/$global/streams/export
source/target/streams/runtime/dependencyClasspath/$global/streams/export
source/target/streams/runtime/exportedProducts/$global/streams/export
source/target/streams/runtime/externalDependencyClasspath/$global/streams/export
source/target/streams/runtime/fullClasspath/$global/streams/export
source/target/streams/runtime/internalDependencyClasspath/$global/streams/export
source/target/streams/runtime/managedClasspath/$global/streams/export
source/target/streams/runtime/unmanagedClasspath/$global/streams/export
source/target/streams/runtime/unmanagedJars/$global/streams/export
target/scala-2.11/classes/ChampionData$ChampionDetails$$anonfun$3.class
target/scala-2.11/classes/ChampionData$ChampionDetails$$anonfun$4.class
target/scala-2.11/classes/ChampionData$ChampionDetails$.class
target/scala-2.11/classes/ChampionData$ChampionDetails.class
target/scala-2.11/classes/ChampionData$ChampionDto$$anonfun$5.class
target/scala-2.11/classes/ChampionData$ChampionDto$$anonfun$6.class
target/scala-2.11/classes/ChampionData$ChampionInfo$$anonfun$1.class
target/scala-2.11/classes/ChampionData$ChampionInfo$$anonfun$2.class
target/scala-2.11/classes/ChampionData$ChampionInfo$.class
target/scala-2.11/classes/ChampionData$ChampionInfo.class
target/scala-2.11/classes/ChampionData$ChampionMapping$$anonfun$7.class
target/scala-2.11/classes/ChampionData$ChampionMapping$$anonfun$8.class
target/scala-2.11/classes/MatchData$.class
target/scala-2.11/classes/MatchData$MatchList$$anonfun$3.class
target/scala-2.11/classes/MatchData$MatchList$$anonfun$4.class
target/scala-2.11/classes/MatchData$MatchList$.class
target/scala-2.11/classes/MatchData$MatchList.class
target/scala-2.11/classes/MatchData$MatchReference$$anonfun$1.class
target/scala-2.11/classes/MatchData$MatchReference$$anonfun$2.class
target/scala-2.11/classes/MatchData$MatchReference$.class
target/scala-2.11/classes/MatchData$MatchReference.class
target/scala-2.11/classes/MatchData.class
target/scala-2.11/classes/Program$$anonfun$2$$anonfun$apply$1$$anonfun$3.class
target/scala-2.11/classes/Program$$anonfun$2$$anonfun$apply$1.class
target/scala-2.11/classes/Program$$anonfun$4$$anonfun$apply$3$$anonfun$5.class
target/scala-2.11/classes/Program$$anonfun$4$$anonfun$apply$3.class
target/scala-2.11/classes/Program$$anonfun$4$$anonfun$apply$4$$anonfun$apply$5$$anonfun$apply$6.class
target/scala-2.11/classes/Program$$anonfun$4$$anonfun$apply$4$$anonfun$apply$5$$anonfun$apply$7.class
target/scala-2.11/classes/Program$$anonfun$4$$anonfun$apply$4$$anonfun$apply$5.class
target/scala-2.11/classes/Program$$anonfun$4$$anonfun$apply$4.class
target/scala-2.11/classes/Program$$anonfun$4.class
target/scala-2.11/classes/Program$$anonfun$6.class
target/scala-2.11/classes/Program$$anonfun$7.class
target/scala-2.11/classes/Program$$anonfun$8.class
target/scala-2.11/classes/Program$$anonfun$9$$anonfun$apply$9.class
target/scala-2.11/classes/Program$$anonfun$9.class
target/scala-2.11/classes/Program$$anonfun$detectScrubFromMatchHistory$1$$anonfun$apply$8.class
target/scala-2.11/classes/Program$$anonfun$detectScrubFromMatchHistory$1.class
target/scala-2.11/classes/Program$$anonfun$detectScrubFromMatchHistory$2.class
target/scala-2.11/classes/Program$$anonfun$getChampDetails$1.class
target/scala-2.11/classes/Program$$anonfun$getChampionDetailsFromId$1.class
target/scala-2.11/classes/Program$$anonfun$getChampionDetailsFromId$2.class
target/scala-2.11/classes/Program$$anonfun$scrubDetector$1.class
target/scala-2.11/classes/Program$$anonfun$tellIfScrub$1.class
target/scala-2.11/classes/Program$$anonfun$tellIfScrub$2.class
